
@{
    ViewData["Title"] = "Adios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adios</h2>
<ul>
    @for (int i = 0; i < ViewBag.veces; i++)
    {
        <li>@ViewBag.valor</li>
    }
</ul>

